<div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Bem-Vindo ao Perfil do Operador</h1>
      <p class="lead my-3">Para navegação nesta sessão, utilize dos links a esquerda. Caso deseje retornar a esta página, clique em "Backoffice Operador"</p>
    </div>
  </div>

<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Curiosidade</strong>
          <h3 class="mb-0">Atalaia: O que é ?</h3>  
          <p class="card-text mb-auto">A Atalaia está estruturada de forma que possa atender de maneira eficiente e ininterrupta às necessidades do serviço de praticagem. Faz parte do conjunto de suas instalações, a área para atracação das lanchas. Nas áreas em que, devido as características da região, não é possível agrupar todas as partes de sua estrutura operacional num mesmo local, elas estão localizadas o mais próximo possível uma das outras e, com meios de comunicação confiáveis e suficientes para garantir sua operação como se estivessem agrupadas. Compõe também a sua estrutura operacional, instalações apropriadas para alojar os práticos de serviço, bem como, as tripulações das lanchas que estiverem de prontidão. Na Atalaia é feito o controle dos navios que farão uso de seus serviços.</p>
          <strong> <p> (FONTE: https://www.praticagemdobrasil.org.br/homologacao/sala-de-controle-da-praticagem-atalaia/#:~:text=Faz%20parte%20do%20conjunto%20de,%C3%A1rea%20para%20atraca%C3%A7%C3%A3o%20das%20lanchas.&text=Comp%C3%B5e%20tamb%C3%A9m%20a%20sua%20estrutura,far%C3%A3o%20uso%20de%20seus%20servi%C3%A7os.</p> </strong>
        </div>
        <div class="col-auto d-none d-lg-block">
          <rect width="100%" height="100%" fill="#55595c">
          <%= image_tag("atalaia.jpg", size: "400x300") %>
          </rect>
        </div>
</div>

<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Curiosidade</strong>
          <h3 class="mb-0">Operador de Atalaia: O que é?</h3>  
          <p class="card-text mb-auto"> Operadores de Atalaia são responsáveis pelo controle e organização das manobras marítimas junto a praticagem.
          Eles são responsáveis por organizar o cronograma de manobras, indicar qual prático será responsável por cada uma (seguindo o sistema de rodízio único), fazer a comunicação com o navio até que o prático esteja a bordo,
          e comunicar as autoridades marítimas a decorrências de qualquer problema na embarcação a partir de feedback obtido pelos práticos da manobras.
          No geral, são entidade associada a praticagem e responsáveis pelo controle aquáviario na região portuária.
        </p>
          <strong> <p> (FONTE: Autor)</p> </strong>
        </div>
        <div class="col-auto d-none d-lg-block">
          <rect width="100%" height="100%" fill="#55595c">
          <%= image_tag("operacao_atalaia.jpg", size: "400x300") %>
          </rect>
        </div>
</div>
