



<div class="card text-center">
  <div class="card-header" style="background-color: #8fbc8f; padding:20px" >
    <p style = "font-size: 30px; font-weight: bold">Revalidação de Diploma - Sistemas de Informação</p>
     <p style = "font-size: 20px">Rodrigo Domingos Barrera</p>
  </div>
  
 <div class="card-footer text-muted">
    
  </div>

  <div class="card-body" style="background-color: #e6e6ff">
    <h5 class="card-title">Graduação em Engenharia Mecânica e Engenharia de Design Sustentável</h5>
    <p class="card-text">Elizabethtown College - 2016 - United States</p>
    <p class="card-text">Graduation with Engineering Honors and Cum Laude Distinction (GPA 3.68 / 4.0)</p>
    <div class="col-auto d-none d-lg-block">
      <rect width="100%" height="100%" fill="#55595c">
        <%= image_tag("etown.JPG", size: "400x500") %>
      </rect>
    </div>
  </div>

  <div class="card-footer text-muted">
    
  </div>

  <div class="card-body" style="background-color: #e6e6ff">
    <h5 class="card-title">Pós-Graduação: Master in Business and Management</h5>
    <p class="card-text">Fundação Getúlio Vargas (FGV-EAESP) - 2017 - Brasil</p>
    <p class="card-text">Média 9.0/10.0</p>
    <div class="col-auto d-none d-lg-block">
      <rect width="100%" height="100%" fill="#55595c">
        <%= image_tag("mbm.jpeg", size: "600x400") %>
      </rect>
    </div>
  </div>

  <div class="card-footer text-muted">
    
  </div>

  <div class="card-body" style="background-color: #e6e6ff">
    <h5 class="card-title">Pós-Graduação: Mestrado em Engenharia Mecânica - Controles e Automação</h5>
    <p class="card-text">Escola Politénica da Universidade de São Paulo (POLI-USP) - 2019 - Brasil</p>
    <div class="col-auto d-none d-lg-block">
    
      <rect width="100%" height="100%" fill="#55595c">
        <%= image_tag("mestrado_1.jpeg", size: "600x400") %>
      </rect>
      
     <p> </p>

      <rect width="100%" height="100%" fill="#55595c">
        <%= image_tag("mestrado_2.jpeg", size: "600x400") %>
      </rect>
    
    </div>
  </div>

   <div class="card-footer text-muted">
    
  </div>

   <div class="card-body" style="background-color: #e6e6ff">
    <h5 class="card-title">Revalidação de Diploma de Graduação </h5>
    <p class="card-text" >Escola Politénica da Universidade de São Paulo (POLI-USP) - 2020/2021 - Brasil</p>
  <ul class="card-text mr-5">
    <li >Atuadores e Acionamentos <i class="fas fa-check-circle"></i> </li>
    <li>Sistemas Embarcados <i class="fas fa-check-circle"></i></li>
    <li>Sistemas a Eventos Discretos <i class="fas fa-check-circle"></i></li>
    <li>Transferência de Calor <i class="fas fa-check-circle"></i></li>
    <li>Sistemas de Informação</li>


  </div>

  <div class="card-footer text-muted">
    Revalidação de Diploma - Rodrigo Barrera - Sistemas de Informação
  </div>
</div>

